<div class="additions">
  <div class="container">
    <div class="additions__wrapper">
      <div class="additions__decore">
        <img src="assets/images/additions/big-circle.png" alt="" />
        <img
          src="assets/images/additions/img1.png"
          class="additions__decore--img1 additions__decore--img"
          alt=""
        />
        <img
          src="assets/images/additions/img2.png"
          class="additions__decore--img2 additions__decore--img"
          alt=""
        />
        <img
          src="assets/images/additions/img3.png"
          class="additions__decore--img3 additions__decore--img"
          alt=""
        />
      </div>
      <ul class="additions__list">
        <li class="additions__item additions__item--1">
          <span class="additions__item-title">Branding</span>
          <span class="additions__item-subtitle">from 15 000 ₪</span>
        </li>
        <li class="additions__item additions__item--2">
          <span class="additions__item-title">Design Retainer Plan</span>
          <span class="additions__item-subtitle">5 hours – 1500 ₪</span>
        </li>
        <li class="additions__item additions__item--3">
          <span class="additions__item-title">Only UX/UI design</span>
          <span class="additions__item-subtitle">from 20 000 ₪</span>
        </li>
        <li class="additions__item additions__item--4">
          <span class="additions__item-title">Promotion</span>
          <span class="additions__item-subtitle">from 5 000 ₪</span>
        </li>
      </ul>
      <h2 class="additions__title">Additions</h2>
    </div>
  </div>
</div>
