<div class="additions">
  <div class="container">
    <div class="additions__wrapper">
      <ul class="additions__list">
        <li class="additions__item">
          <span class="additions__item-title">MVP Landing page</span>
          <span class="additions__item-subtitle">from 15 000 ₪</span>
        </li>
        <li class="additions__item">
          <span class="additions__item-title">Design Retainer Plan</span>
          <span class="additions__item-subtitle">5 hours – 1500 ₪</span>
        </li>
        <li class="additions__item">
          <span class="additions__item-title">Only UX/UI design</span>
          <span class="additions__item-subtitle">from 20 000 ₪</span>
        </li>
        <li class="additions__item">
          <span class="additions__item-title">Promotion</span>
          <span class="additions__item-subtitle">from 5 000 ₪</span>
        </li>
      </ul>
      <h2 class="additions__title">Additions</h2>
    </div>
  </div>
</div>
