<div class="belive">
  <div class="belive__decore-left">
    <img
      src="assets/images/belive/dinamic-left.svg"
      class="belive__decore-left--dinamic"
      alt=""
    />
    <img
      src="assets/images/belive/static-left.svg"
      class="belive__decore-left--static"
      alt=""
    />
  </div>
  <div class="belive__decore-right">
    <img
      src="assets/images/belive/dinamic-right.svg"
      class="belive__decore-right--dinamic"
      alt=""
    />
    <img
      src="assets/images/belive/static-right.svg"
      class="belive__decore-right--static"
      alt=""
    />
  </div>
  <div class="container">
    <div class="belive__wrapper">
      <p class="belive__title section__title--white">
        You build the product. <br />
        We make them <span>believe</span> in it.
      </p>
      <div class="belive-tabs">
        <div class="belive-tabs__triggers">
          <button class="belive-tabs__trigger active" data-tab="1">
            <img
              src="assets/images/belive/tab-desable-1.svg"
              alt="logo"
              class="belive-tabs__trigger-disble"
            />
            <img
              src="assets/images/belive/tab-active-1.svg"
              alt="logo"
              class="belive-tabs__trigger-active"
            />
          </button>
          <button class="belive-tabs__trigger" data-tab="2">
            <img
              src="assets/images/belive/tab-desable-2.svg"
              alt="logo"
              class="belive-tabs__trigger-disble"
            />
            <img
              src="assets/images/belive/tab-active-2.svg"
              alt="logo"
              class="belive-tabs__trigger-active"
            />
          </button>
          <button class="belive-tabs__trigger" data-tab="3">
            <img
              src="assets/images/belive/tab-desable-3.svg"
              alt="logo"
              class="belive-tabs__trigger-disble"
            />
            <img
              src="assets/images/belive/tab-active-3.svg"
              alt="logo"
              class="belive-tabs__trigger-active"
            />
          </button>
          <button class="belive-tabs__trigger" data-tab="4">
            <img
              src="assets/images/belive/tab-desable-4.svg"
              alt="logo"
              class="belive-tabs__trigger-disble"
            />
            <img
              src="assets/images/belive/tab-active-4.svg"
              alt="logo"
              class="belive-tabs__trigger-active"
            />
          </button>
          <!-- <button class="belive-tabs__trigger" data-tab="5">
            <img
              src="assets/images/belive/tab-desable-5.svg"
              alt="logo"
              class="belive-tabs__trigger-disble"
            />
            <img
              src="assets/images/belive/tab-active-5.svg"
              alt="logo"
              class="belive-tabs__trigger-active"
            />
          </button> -->
        </div>

        <div class="belive-tabs__body">
          <div class="belive-tab-content" data-tab="1">
            <div class="belive-tab-content__header">
              <div class="belive-tab-content__header-left">Cybersecurity</div>
              <div class="belive-tab-content__header-right">
                <p>Series B</p>
                <p>
                  <svg
                    width="10"
                    height="10"
                    viewBox="0 0 10 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.00623 1L1 9.00623"
                      stroke="#828282"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M1 1L9.00623 9.00623"
                      stroke="#828282"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </p>
                <p>financing $200M</p>
              </div>
            </div>
            <div class="belive-tab-content__body">
              <div class="belive-tab-content__body-left-box">
                <div class="belive-tab-content__flex">
                  <div class="belive-tab-content__old">
                    <p class="belive-tab-content__old-title">Old website</p>
                    <img
                      src="assets/images/belive/img-min.png"
                      alt="img"
                      class="belive-tab-content__old-img"
                    />
                  </div>
                  <div class="belive-tab-content__procents">
                    <p class="belive-tab-content__procents-title">
                      Metrics improved after redesign
                    </p>
                    <div class="belive-tab-content__procents-elements">
                      <div class="belive-tab-content-procents-element">
                        <p class="belive-tab-content-procents-element__num">
                          -30%
                        </p>
                        <div class="belive-tab-content-procents-element__imgs">
                          <img
                            src="assets/images/belive/procent1.svg"
                            alt=""
                            class="belive-tab-content-procents-element__img"
                          />
                          <img
                            src="assets/images/belive/procent2.svg"
                            alt=""
                            class="belive-tab-content-procents-element__img"
                          />
                        </div>
                        <p class="belive-tab-content-procents-element__title">
                          Bounce rate
                        </p>
                      </div>
                      <div class="belive-tab-content-procents-element">
                        <p class="belive-tab-content-procents-element__num">
                          +35%
                        </p>
                        <div class="belive-tab-content-procents-element__imgs">
                          <img
                            src="assets/images/belive/procent3.svg"
                            alt=""
                            class="belive-tab-content-procents-element__img"
                          />
                          <img
                            src="assets/images/belive/procent4.svg"
                            alt=""
                            class="belive-tab-content-procents-element__img"
                          />
                        </div>
                        <p class="belive-tab-content-procents-element__title">
                          Conversion Rate
                        </p>
                      </div>
                      <div class="belive-tab-content-procents-element">
                        <p class="belive-tab-content-procents-element__num">
                          +42%
                        </p>
                        <div class="belive-tab-content-procents-element__imgs">
                          <img
                            src="assets/images/belive/procent5.svg"
                            alt=""
                            class="belive-tab-content-procents-element__img"
                          />
                          <img
                            src="assets/images/belive/procent6.svg"
                            alt=""
                            class="belive-tab-content-procents-element__img"
                          />
                        </div>
                        <p class="belive-tab-content-procents-element__title">
                          Session Time
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="belive-tab-content__citat">
                  <p class="belive-tab-content__citat-text">
                    "We contacted Fabula web agency to create a new corporate
                    website, and the result exceeded all expectations!”
                  </p>
                  <p class="belive-tab-content__citat-subtitle">Akiva Avros</p>
                </div>
                <div
                  class="belive-tab-content__words belive-tab-content__words--desc"
                >
                  <p class="belive-tab-content__word">{UX Research}</p>
                  <p class="belive-tab-content__word">{Marketing Analysis}</p>
                  <p class="belive-tab-content__word">{Wireframes}</p>
                  <p class="belive-tab-content__word">{Usability testing}</p>
                  <p class="belive-tab-content__word">{Visual design}</p>
                </div>
              </div>
              <div class="belive-tab-content__body-img">
                <video autoplay muted loop playsinline>
                  <source
                    src="assets/images/webm/sentra.webm"
                    type="video/webm"
                  />
                  Ваш браузер не поддерживает видео.
                </video>
              </div>
            </div>
            <div
              class="belive-tab-content__words belive-tab-content__words--mobill"
            >
              <p class="belive-tab-content__word">{UX Research}</p>
              <p class="belive-tab-content__word">{Marketing Analysis}</p>
              <p class="belive-tab-content__word">{Wireframes}</p>
              <p class="belive-tab-content__word">{Usability testing}</p>
              <p class="belive-tab-content__word">{Visual design}</p>
            </div>
          </div>
          <div class="belive-tab-content" data-tab="2">
            <div class="belive-tab-content__header">
              <div class="belive-tab-content__header-left">HR-tech / SaaS</div>
              <div class="belive-tab-content__header-right">
                <p>Series A</p>
                <p>
                  <svg
                    width="10"
                    height="10"
                    viewBox="0 0 10 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.00623 1L1 9.00623"
                      stroke="#828282"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M1 1L9.00623 9.00623"
                      stroke="#828282"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </p>
                <p>financing $15M</p>
              </div>
            </div>
            <div class="belive-tab-content__body">
              <div class="belive-tab-content__body-left-box">
                <div class="belive-tab-content__flex">
                  <div class="belive-tab-content__old">
                    <p class="belive-tab-content__old-title">Old website</p>
                    <img
                      src="assets/images/belive/img-min2.png"
                      alt="img"
                      class="belive-tab-content__old-img"
                    />
                  </div>
                  <div class="belive-tab-content__procents">
                    <p class="belive-tab-content__procents-title">
                      Metrics improved after redesign
                    </p>
                    <div class="belive-tab-content__procents-elements">
                      <div class="belive-tab-content-procents-element no-data">
                        <p class="belive-tab-content-procents-element__num">
                          no data
                        </p>
                        <div
                          class="belive-tab-content-procents-element__imgs"
                        ></div>
                        <p class="belive-tab-content-procents-element__title">
                          Bounce rate
                        </p>
                      </div>
                      <div class="belive-tab-content-procents-element">
                        <p class="belive-tab-content-procents-element__num">
                          +30%
                        </p>
                        <div class="belive-tab-content-procents-element__imgs">
                          <img
                            src="assets/images/belive/procent3.svg"
                            alt=""
                            class="belive-tab-content-procents-element__img"
                          />
                          <img
                            src="assets/images/belive/procent4.svg"
                            alt=""
                            class="belive-tab-content-procents-element__img"
                          />
                        </div>
                        <p class="belive-tab-content-procents-element__title">
                          Conversion Rate
                        </p>
                      </div>
                      <div class="belive-tab-content-procents-element">
                        <p class="belive-tab-content-procents-element__num">
                          +71%
                        </p>
                        <div class="belive-tab-content-procents-element__imgs">
                          <img
                            src="assets/images/belive/procent5.svg"
                            alt=""
                            class="belive-tab-content-procents-element__img"
                          />
                          <img
                            src="assets/images/belive/procent6.svg"
                            alt=""
                            class="belive-tab-content-procents-element__img"
                          />
                        </div>
                        <p class="belive-tab-content-procents-element__title">
                          Session Time
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="belive-tab-content__citat">
                  <p class="belive-tab-content__citat-text">
                    The new design feels alive — dynamic, modern, and perfectly
                    aligned with how we see our product. Our visitors now spend
                    noticeably more time exploring the site.
                  </p>
                  <p class="belive-tab-content__citat-subtitle">
                    Amit Rapaport
                  </p>
                </div>
                <div
                  class="belive-tab-content__words belive-tab-content__words--desc"
                >
                  <p class="belive-tab-content__word">{UX Research}</p>
                  <p class="belive-tab-content__word">{Marketing Analysis}</p>
                  <p class="belive-tab-content__word">{Wireframes}</p>
                  <p class="belive-tab-content__word">{Usability testing}</p>
                  <p class="belive-tab-content__word">{3d modeling}</p>
                  <p class="belive-tab-content__word">{Animation}</p>
                  <p class="belive-tab-content__word">{Visual design}</p>
                  <p class="belive-tab-content__word">{Development}</p>
                </div>
              </div>
              <div class="belive-tab-content__body-img">
                <video autoplay muted loop playsinline preload="none">
                  <source
                    src="assets/images/webm/compete.webm"
                    type="video/webm"
                  />
                  Ваш браузер не поддерживает видео.
                </video>
              </div>
            </div>
            <div
              class="belive-tab-content__words belive-tab-content__words--mobill"
            >
              <p class="belive-tab-content__word">{UX Research}</p>
              <p class="belive-tab-content__word">{Marketing Analysis}</p>
              <p class="belive-tab-content__word">{Wireframes}</p>
              <p class="belive-tab-content__word">{Usability testing}</p>
              <p class="belive-tab-content__word">{3d modeling}</p>
              <p class="belive-tab-content__word">{Animation}</p>
              <p class="belive-tab-content__word">{Visual design}</p>
              <p class="belive-tab-content__word">{Development}</p>
            </div>
          </div>
          <div class="belive-tab-content" data-tab="3">
            <div class="belive-tab-content__header">
              <div class="belive-tab-content__header-left">Green energy</div>
              <div class="belive-tab-content__header-right">
                <p>Series B</p>
                <p>
                  <svg
                    width="10"
                    height="10"
                    viewBox="0 0 10 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.00623 1L1 9.00623"
                      stroke="#828282"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M1 1L9.00623 9.00623"
                      stroke="#828282"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </p>
                <p>financing $180M</p>
              </div>
            </div>
            <div class="belive-tab-content__body">
              <div class="belive-tab-content__body-left-box">
                <div class="belive-tab-content__flex">
                  <div class="belive-tab-content__old">
                    <p class="belive-tab-content__old-title">Old website</p>
                    <img
                      src="assets/images/belive/img-min3.png"
                      alt="img"
                      class="belive-tab-content__old-img"
                      loading="lazy"
                    />
                  </div>
                  <div class="belive-tab-content__procents">
                    <p class="belive-tab-content__procents-title">
                      Metrics improved after redesign
                    </p>
                    <div class="belive-tab-content__procents-elements">
                      <div class="belive-tab-content-procents-element no-data">
                        <p class="belive-tab-content-procents-element__num">
                          no data
                        </p>
                        <div
                          class="belive-tab-content-procents-element__imgs"
                        ></div>
                        <p class="belive-tab-content-procents-element__title">
                          Bounce rate
                        </p>
                      </div>
                      <div class="belive-tab-content-procents-element no-data">
                        <p class="belive-tab-content-procents-element__num">
                          no data
                        </p>
                        <div
                          class="belive-tab-content-procents-element__imgs"
                        ></div>
                        <p class="belive-tab-content-procents-element__title">
                          Conversion Rate
                        </p>
                      </div>
                      <div class="belive-tab-content-procents-element no-data">
                        <p class="belive-tab-content-procents-element__num">
                          no data
                        </p>
                        <div
                          class="belive-tab-content-procents-element__imgs"
                        ></div>
                        <p class="belive-tab-content-procents-element__title">
                          Session Time
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="belive-tab-content__citat">
                  <p class="belive-tab-content__citat-text">
                    You managed to turn complex technology into something
                    visually powerful and inspiring. The 3D and motion design
                    made our innovation feel tangible.
                  </p>
                  <p class="belive-tab-content__citat-subtitle">Rotem Arad</p>
                </div>
                <div
                  class="belive-tab-content__words belive-tab-content__words--desc"
                >
                  <p class="belive-tab-content__word">{UX Research}</p>
                  <p class="belive-tab-content__word">{Marketing Analysis}</p>
                  <p class="belive-tab-content__word">{Wireframes}</p>
                  <p class="belive-tab-content__word">{Usability testing}</p>
                  <p class="belive-tab-content__word">{3d modeling}</p>
                  <p class="belive-tab-content__word">{Animation}</p>
                  <p class="belive-tab-content__word">{Visual design}</p>
                </div>
              </div>
              <div class="belive-tab-content__body-img">
                <video autoplay muted loop playsinline preload="none">
                  <source
                    src="assets/images/webm/h2pro.webm"
                    type="video/webm"
                  />
                  Ваш браузер не поддерживает видео.
                </video>
              </div>
            </div>
            <div
              class="belive-tab-content__words belive-tab-content__words--mobill"
            >
              <p class="belive-tab-content__word">{UX Research}</p>
              <p class="belive-tab-content__word">{Marketing Analysis}</p>
              <p class="belive-tab-content__word">{Wireframes}</p>
              <p class="belive-tab-content__word">{Usability testing}</p>
              <p class="belive-tab-content__word">{3d modeling}</p>
              <p class="belive-tab-content__word">{Animation}</p>
              <p class="belive-tab-content__word">{Visual design}</p>
            </div>
          </div>
          <div class="belive-tab-content" data-tab="4">
            <div class="belive-tab-content__header">
              <div class="belive-tab-content__header-left">Biotech</div>
              <div class="belive-tab-content__header-right">
                <p>Series C</p>
                <p>
                  <svg
                    width="10"
                    height="10"
                    viewBox="0 0 10 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.00623 1L1 9.00623"
                      stroke="#828282"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M1 1L9.00623 9.00623"
                      stroke="#828282"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </p>
                <p>financing $30M</p>
              </div>
            </div>
            <div class="belive-tab-content__body">
              <div class="belive-tab-content__body-left-box">
                <div class="belive-tab-content__flex">
                  <div class="belive-tab-content__old">
                    <p class="belive-tab-content__old-title">Old website</p>
                    <img
                      src="assets/images/belive/img-min4.png"
                      alt="img"
                      class="belive-tab-content__old-img"
                      loading="lazy"
                    />
                  </div>
                  <div class="belive-tab-content__procents">
                    <p class="belive-tab-content__procents-title">
                      Metrics improved after redesign
                    </p>
                    <div class="belive-tab-content__procents-elements">
                      <div class="belive-tab-content-procents-element">
                        <p class="belive-tab-content-procents-element__num">
                          -25%
                        </p>
                        <div class="belive-tab-content-procents-element__imgs">
                          <img
                            src="assets/images/belive/procent1.svg"
                            alt=""
                            class="belive-tab-content-procents-element__img"
                          />
                          <img
                            src="assets/images/belive/procent2.svg"
                            alt=""
                            class="belive-tab-content-procents-element__img"
                          />
                        </div>
                        <p class="belive-tab-content-procents-element__title">
                          Bounce rate
                        </p>
                      </div>
                      <div class="belive-tab-content-procents-element no-data">
                        <p class="belive-tab-content-procents-element__num">
                          no data
                        </p>
                        <div
                          class="belive-tab-content-procents-element__imgs"
                        ></div>
                        <p class="belive-tab-content-procents-element__title">
                          Conversion Rate
                        </p>
                      </div>
                      <div class="belive-tab-content-procents-element">
                        <p class="belive-tab-content-procents-element__num">
                          +45%
                        </p>
                        <div class="belive-tab-content-procents-element__imgs">
                          <img
                            src="assets/images/belive/procent5.svg"
                            alt=""
                            class="belive-tab-content-procents-element__img"
                          />
                          <img
                            src="assets/images/belive/procent6.svg"
                            alt=""
                            class="belive-tab-content-procents-element__img"
                          />
                        </div>
                        <p class="belive-tab-content-procents-element__title">
                          Session Time
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="belive-tab-content__citat">
                  <p class="belive-tab-content__citat-text">
                    The redesign completely transformed how we present
                    ourselves. It looks professional yet human — exactly the
                    balance we wanted.
                  </p>
                  <p class="belive-tab-content__citat-subtitle">Nora Nseir</p>
                </div>
                <div
                  class="belive-tab-content__words belive-tab-content__words--desc"
                >
                  <p class="belive-tab-content__word">{UX Research}</p>
                  <p class="belive-tab-content__word">{Marketing Analysis}</p>
                  <p class="belive-tab-content__word">{Wireframes}</p>
                  <p class="belive-tab-content__word">{Visual design}</p>
                  <p class="belive-tab-content__word">{Development}</p>
                </div>
              </div>
              <div class="belive-tab-content__body-img">
                <video autoplay muted loop playsinline preload="none">
                  <source
                    src="assets/images/webm/nurami.webm"
                    type="video/webm"
                  />
                  Ваш браузер не поддерживает видео.
                </video>
              </div>
            </div>
            <div
              class="belive-tab-content__words belive-tab-content__words--mobill"
            >
              <p class="belive-tab-content__word">{UX Research}</p>
              <p class="belive-tab-content__word">{Marketing Analysis}</p>
              <p class="belive-tab-content__word">{Wireframes}</p>
              <p class="belive-tab-content__word">{Visual design}</p>
              <p class="belive-tab-content__word">{Development}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="btn belive__btn">
        <p>Make your startup next</p>
        <svg
          width="19"
          height="18"
          viewBox="0 0 19 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 9H17.9706"
            stroke="#49B97A"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M9.48528 0.514718L17.9706 9L9.48528 17.4853"
            stroke="#49B97A"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>
</div>
