<div class="belive">
  <div class="container">
    <div class="belive__wrapper">
      <p class="belive__title section__title--white">
        You build the product. We make them <span>believe</span> in it.
      </p>
      <div class="belive-tabs">
        <div class="belive-tabs__triggers">
          <button class="belive-tabs__trigger" data-tab="1">
            <img src="assets/images/hero/logo-01.png" alt="logo" />
          </button>
          <button class="belive-tabs__trigger" data-tab="2">
            <img src="assets/images/hero/logo-01.png" alt="logo" />
          </button>
          <button class="belive-tabs__trigger" data-tab="3">
            <img src="assets/images/hero/logo-01.png" alt="logo" />
          </button>
          <button class="belive-tabs__trigger" data-tab="4">
            <img src="assets/images/hero/logo-01.png" alt="logo" />
          </button>
        </div>
        <div class="belive-tabs__body">
          <div class="belive-tab-content" data-tab="1">
            <div class="belive-tab-content__header"></div>
            <div class="belive-tab-content__body">
              <div class="belive-tab-content__body-left-box">
                <div class="belive-tab-content__flex">
                  <div class="belive-tab-content__old">
                    <p class="belive-tab-content__old-title">Old website</p>
                    <img
                      src="assets/images/belive/img-min.png"
                      alt="img"
                      class="belive-tab-content__old-img"
                    />
                  </div>
                  <div class="belive-tab-content__procents">
                    <p class="belive-tab-content__procents-title">
                      Metrics improved after redesign
                    </p>
                    <div class="belive-tab-content__procents-elements">
                      <div class="belive-tab-content-procents-element">
                        <p class="belive-tab-content-procents-element__num">
                          -30%
                        </p>
                        <div class="belive-tab-content-procents-element__imgs">
                          <img
                            src="assets/images/belive/procent1.svg"
                            alt=""
                            class="belive-tab-content-procents-element__img"
                          />
                          <img
                            src="assets/images/belive/procent2.svg"
                            alt=""
                            class="belive-tab-content-procents-element__img"
                          />
                        </div>
                        <p class="belive-tab-content-procents-element__title">
                          Bounce rate
                        </p>
                      </div>
                      <div class="belive-tab-content-procents-element">
                        <p class="belive-tab-content-procents-element__num">
                          +35%
                        </p>
                        <div class="belive-tab-content-procents-element__imgs">
                          <img
                            src="assets/images/belive/procent3.svg"
                            alt=""
                            class="belive-tab-content-procents-element__img"
                          />
                          <img
                            src="assets/images/belive/procent4.svg"
                            alt=""
                            class="belive-tab-content-procents-element__img"
                          />
                        </div>
                        <p class="belive-tab-content-procents-element__title">
                          Conversion Rate
                        </p>
                      </div>
                      <div class="belive-tab-content-procents-element">
                        <p class="belive-tab-content-procents-element__num">
                          +42%
                        </p>
                        <div class="belive-tab-content-procents-element__imgs">
                          <img
                            src="assets/images/belive/procent5.svg"
                            alt=""
                            class="belive-tab-content-procents-element__img"
                          />
                          <img
                            src="assets/images/belive/procent6.svg"
                            alt=""
                            class="belive-tab-content-procents-element__img"
                          />
                        </div>
                        <p class="belive-tab-content-procents-element__title">
                          Session Time
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="belive-tab-content__citat">
                  <p class="belive-tab-content__citat-text">
                    "We contacted Fabula web agency to create a new corporate
                    website, and the result exceeded all expectations!”
                  </p>
                  <p class="belive-tab-content__citat-subtitle">Akiva Avros</p>
                </div>
                <div class="belive-tab-content__words">
                  <p class="belive-tab-content__word">{UX Research}</p>
                  <p class="belive-tab-content__word">{Marketing Analysis}</p>
                  <p class="belive-tab-content__word">{Wireframes}</p>
                  <p class="belive-tab-content__word">{Usability testing}</p>
                  <p class="belive-tab-content__word">{Visual design}</p>
                </div>
              </div>
              <img
                src="assets/images/belive/img-big.png"
                alt="img"
                class="belive-tab-content__body-img"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="btn">
        <p>Make your startup next</p>
        <svg
          width="19"
          height="18"
          viewBox="0 0 19 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 9H17.9706"
            stroke="#49B97A"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M9.48528 0.514718L17.9706 9L9.48528 17.4853"
            stroke="#49B97A"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>
</div>
