<div class="faq">
  <div class="container">
    <div class="faq__wrapper">
      <h3 class="faq__title section__title--black">Before you ask</h3>
      <div class="faq__accordeon">
        <div class="faq-accordeon-item">
          <div class="faq-accordeon-item__trigger">
            <p class="faq-accordeon-item__title">
              We’re still early stage. Do you even take projects like that?
            </p>
            <button class="faq-accordeon-item__btn">
              <svg
                width="28"
                height="28"
                viewBox="0 0 28 28"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14 1.38379V27.3838"
                  stroke="#191919"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M1 14.3838H27"
                  stroke="#191919"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
          <p class="faq-accordeon-item__text">
            Yes — as long as you have a product or at least a clear idea. We
            don’t care how many people are on your team. We care if there’s
            something worth shaping. If you're ready to think together — we’re
            in.
          </p>
        </div>
        <div class="faq-accordeon-item">
          <div class="faq-accordeon-item__trigger">
            <p class="faq-accordeon-item__title">
              What if we have no copy, no structure, no design — nothing?
            </p>
            <button class="faq-accordeon-item__btn">
              <svg
                width="28"
                height="28"
                viewBox="0 0 28 28"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14 1.38379V27.3838"
                  stroke="#191919"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M1 14.3838H27"
                  stroke="#191919"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
          <p class="faq-accordeon-item__text">
            That’s normal. You bring the product — we’ll figure out the story,
            structure, and interface from scratch. Our job is to turn chaos into
            a website — not wait for a perfect brief.
          </p>
        </div>
        <div class="faq-accordeon-item">
          <div class="faq-accordeon-item__trigger">
            <p class="faq-accordeon-item__title">
              We’re on a tight deadline. Can you deliver in time?
            </p>
            <button class="faq-accordeon-item__btn">
              <svg
                width="28"
                height="28"
                viewBox="0 0 28 28"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14 1.38379V27.3838"
                  stroke="#191919"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M1 14.3838H27"
                  stroke="#191919"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
          <p class="faq-accordeon-item__text">
            If the deadline is realistic — yes. We regularly ship landing pages
            in 10–14 days. Just be honest about your timeline — and we’ll tell
            you if it’s doable.
          </p>
        </div>
        <div class="faq-accordeon-item">
          <div class="faq-accordeon-item__trigger">
            <p class="faq-accordeon-item__title">
              What happens after the launch? Do you disappear?
            </p>
            <button class="faq-accordeon-item__btn">
              <svg
                width="28"
                height="28"
                viewBox="0 0 28 28"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14 1.38379V27.3838"
                  stroke="#191919"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M1 14.3838H27"
                  stroke="#191919"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
          <p class="faq-accordeon-item__text">
            Nope. We stay in touch, hand everything over, fix bugs, train your
            team — whatever’s needed. We can stay on retainer or step out when
            you're ready. Your call.
          </p>
        </div>
        <div class="faq-accordeon-item">
          <div class="faq-accordeon-item__trigger">
            <p class="faq-accordeon-item__title">How does payment work?</p>
            <button class="faq-accordeon-item__btn">
              <svg
                width="28"
                height="28"
                viewBox="0 0 28 28"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14 1.38379V27.3838"
                  stroke="#191919"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M1 14.3838H27"
                  stroke="#191919"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
          <p class="faq-accordeon-item__text">
            In 4 milestones — you pay as we progress. You're not paying for
            promises, you're paying for real steps delivered. No surprises, no
            “pay more or we pause”. It’s all transparent.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
