<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__top">
        <a href="" class="footer__mail">info@fabula.co.il</a>
        <a href="" class="footer__watsap">WhatsApp</a>
      </div>
      <div class="footer__bottom">
        <p class="footer__copy">© 2025 Fabula design.</p>
        <div class="footer__list-right">
          <a href="" class="footer__mail">Privacy Policy</a>
          <a href="" class="footer__mail">Terms and Conditions</a>
          <a href="" class="footer__mail">Cookie Settings</a>
        </div>
      </div>
    </div>
  </div>
</footer>
