<div class="form">
  <div class="container">
    <div class="form__wrapper">
      <h2 class="form__title section__title--black">
        Stop pitching with a weak website
      </h2>
      <p class="form__suvtitle section__subtitle--black">
        Let’s build one that works like your product does: fast, smart, and
        bold.
      </p>
      <form action="#" class="form__form">
        <input
          type="text"
          name="name"
          class="form__input"
          placeholder="Your name"
        />
        <input
          type="text"
          name="number"
          class="form__input"
          placeholder="Your phone number"
        />
        <button class="form__btn btn">
          <p>Get a personal offer</p>
          <svg
            width="19"
            height="18"
            viewBox="0 0 19 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 9H17.9706"
              stroke="#49B97A"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M9.48528 0.514718L17.9706 9L9.48528 17.4853"
              stroke="#49B97A"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </form>
    </div>
  </div>
</div>
