<div class="guarantees section">
  <div class="container">
    <div class="guarantees__wrapper">
      <h2 class="guarantees__title section__title--white">Real guarantees</h2>
      <p class="guarantees__subtitle section__subtitle-white">
        { not that “trust us” crap }
      </p>
      <div class="guarantees__body">
        <div class="guarantees-item guarantees-item--1">
          <div class="guarantees-item__body">
            <img
              src="assets/images/gurantees/img1.png"
              alt=""
              class="guarantees-item__img"
            />
            <p class="guarantees-item__title">Missed a deadline?</p>
            <p class="guarantees-item__text">We pay you 5% back.</p>
          </div>
        </div>
        <div class="guarantees-item guarantees-item--2">
          <div class="guarantees-item__body">
            <img
              src="assets/images/gurantees/img2.png"
              alt=""
              class="guarantees-item__img"
            />
            <p class="guarantees-item__title">
              We don’t trap clients. Not feeling the concept?
            </p>
            <p class="guarantees-item__text">
              We return 70% of the first payment
            </p>
          </div>
        </div>
        <div class="guarantees-item guarantees-item--3">
          <div class="guarantees-item__body">
            <img
              src="assets/images/gurantees/img3.png"
              alt=""
              class="guarantees-item__img"
            />
            <p class="guarantees-item__title">Two rounds of edits included</p>
            <p class="guarantees-item__text">We work until it hits the mark</p>
          </div>
        </div>
      </div>
      <div class="guarantees__footer">
        <div class="guarantees-footer-item">
          <div class="guarantees-footer-item__borders">
            <div
              class="guarantees-footer-item__border guarantees-footer-item__border--left-top"
            >
              <img src="assets/images/gurantees/border-left-top.png" alt="" />
            </div>
            <div
              class="guarantees-footer-item__border guarantees-footer-item__border--right-top"
            >
              <img src="assets/images/gurantees/border-right-top.png" alt="" />
            </div>
            <div
              class="guarantees-footer-item__border guarantees-footer-item__border--left-bottom"
            >
              <img
                src="assets/images/gurantees/border-left-bottom.png"
                alt=""
              />
            </div>
            <div
              class="guarantees-footer-item__border guarantees-footer-item__border--right-bottom"
            >
              <img
                src="assets/images/gurantees/border-right-bottom.png"
                alt=""
              />
            </div>
          </div>
          <div class="guarantees-footer-item__text-wrapper">
            <p class="guarantees-footer-item__title">Full transparency</p>
            <p class="guarantees-footer-item__text">
              Access to Figma, domain, docs, always.
            </p>
          </div>
          <div class="guarantees-footer-item__imagers">
            <div
              class="guarantees-footer-item__img guarantees-footer-item__img-1"
            >
              <img
                src="assets/images/gurantees/program-logo-1.png"
                alt="logo"
              />
            </div>
            <div
              class="guarantees-footer-item__img guarantees-footer-item__img-2"
            >
              <img
                src="assets/images/gurantees/program-logo-2.png"
                alt="logo"
              />
            </div>
            <div
              class="guarantees-footer-item__img guarantees-footer-item__img-3"
            >
              <img
                src="assets/images/gurantees/program-logo-3.png"
                alt="logo"
              />
            </div>
            <div
              class="guarantees-footer-item__img guarantees-footer-item__img-4"
            >
              <img
                src="assets/images/gurantees/program-logo-4.png"
                alt="logo"
              />
            </div>
          </div>
        </div>
        <div class="guarantees-footer-item">
          <div class="guarantees-footer-item__borders">
            <div
              class="guarantees-footer-item__border guarantees-footer-item__border--left-top"
            >
              <img src="assets/images/gurantees/border-left-top.png" alt="" />
            </div>
            <div
              class="guarantees-footer-item__border guarantees-footer-item__border--right-top"
            >
              <img src="assets/images/gurantees/border-right-top.png" alt="" />
            </div>
            <div
              class="guarantees-footer-item__border guarantees-footer-item__border--left-bottom"
            >
              <img
                src="assets/images/gurantees/border-left-bottom.png"
                alt=""
              />
            </div>
            <div
              class="guarantees-footer-item__border guarantees-footer-item__border--right-bottom"
            >
              <img
                src="assets/images/gurantees/border-right-bottom.png"
                alt=""
              />
            </div>
          </div>
          <div class="guarantees-footer-item__text-wrapper">
            <p class="guarantees-footer-item__title">Only senior team</p>
            <p class="guarantees-footer-item__text">No interns, no drama</p>
          </div>
          <div
            class="guarantees-footer-item__imagers guarantees-footer-item__imagers--person"
          >
            <div
              class="guarantees-footer-item__img guarantees-footer-item__img-1"
            >
              <img src="assets/images/gurantees/person-img-1.png" alt="logo" />
            </div>
            <div
              class="guarantees-footer-item__img guarantees-footer-item__img-2"
            >
              <img src="assets/images/gurantees/person-img-2.png" alt="logo" />
            </div>
            <div
              class="guarantees-footer-item__img guarantees-footer-item__img-3"
            >
              <img src="assets/images/gurantees/person-img-3.png" alt="logo" />
            </div>
            <div
              class="guarantees-footer-item__img guarantees-footer-item__img-4"
            >
              <img src="assets/images/gurantees/person-img-4.png" alt="logo" />
            </div>
            <div
              class="guarantees-footer-item__img guarantees-footer-item__img-5"
            >
              <img src="assets/images/gurantees/person-img-5.png" alt="logo" />
            </div>
            <div
              class="guarantees-footer-item__img guarantees-footer-item__img-6"
            >
              <img src="assets/images/gurantees/person-img-6.png" alt="logo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
