<div class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero-bg">
        <img
          src="assets/images/hero/Ellipse-big.png"
          alt=""
          class="hero-bg__wrapper-big"
        />
        <img
          src="assets/images/hero/Ellipse-small.png"
          alt=""
          class="hero-bg__wrapper-small"
        />
        <img
          src="assets/images/hero/img-main.png"
          alt=""
          class="hero-bg__wrapper-main"
        />
      </div>
      <h1 class="hero__title">
        Don't let <span>a bad website</span> slow a good startup
      </h1>
      <p class="hero__subtitle">
        Your business deserves a unique growth engine
      </p>
      <div class="hero__flex">
        <div class="hero__left-item">
          <p class="hero__left-item__text">
            We craft bold websites for startups that pitch your product, win
            investor trust, and drive real growth.
          </p>
          <button class="hero__left-item-btn btn">
            <p>See how it works</p>
          </button>
        </div>
        <div class="hero__right-item">
          <div class="hero__box-wrapper">
            <div class="hero__box">
              <p class="hero__box-title">$3B+</p>
              <p class="hero__box-subtitle">
                in total funding among our clients.
              </p>
            </div>
            <div class="hero__box">
              <p class="hero__box-title">50+</p>
              <p class="hero__box-subtitle">startups trust us</p>
            </div>
          </div>
        </div>
      </div>
      <div class="hero__logos">
        <img
          src="assets/images/hero/logo-01.png"
          alt="logo"
          class="hero__logo"
        />
        <img
          src="assets/images/hero/logo-02.png"
          alt="logo"
          class="hero__logo"
        />
        <img
          src="assets/images/hero/logo-03.png"
          alt="logo"
          class="hero__logo"
        />
        <img
          src="assets/images/hero/logo-04.png"
          alt="logo"
          class="hero__logo"
        />
        <img
          src="assets/images/hero/logo-05.png"
          alt="logo"
          class="hero__logo"
        />
        <img
          src="assets/images/hero/logo-06.png"
          alt="logo"
          class="hero__logo"
        />
        <img
          src="assets/images/hero/logo-07.png"
          alt="logo"
          class="hero__logo"
        />
        <img
          src="assets/images/hero/logo-08.png"
          alt="logo"
          class="hero__logo"
        />
        <img
          src="assets/images/hero/logo-09.png"
          alt="logo"
          class="hero__logo"
        />
        <img
          src="assets/images/hero/logo-10.png"
          alt="logo"
          class="hero__logo"
        />
      </div>
    </div>
  </div>
</div>
