<div class="hero section">
  <div class="container">
    <div class="hero__wrapper">
      <!-- <div class="hero-bg">
        <img
          src="assets/images/hero/Ellipse-big.png"
          alt=""
          class="hero-bg__wrapper-big"
        />
        <img
          src="assets/images/hero/Ellipse-small.png"
          alt=""
          class="hero-bg__wrapper-small"
        />
        <div class="hero-bg__wrapper-main"></div>
      </div> -->
      <h1 class="hero__title">
        Don't let <span>a bad website</span> slow a good startup
        <div class="hero-bg">
          <img
            src="assets/images/hero/Ellipse-big.png"
            alt=""
            class="hero-bg__wrapper-big"
          />
          <img
            src="assets/images/hero/Ellipse-small.png"
            alt=""
            class="hero-bg__wrapper-small"
          />
          <div class="hero-bg__wrapper-main"></div>
        </div>
      </h1>
      <p class="hero__subtitle">
        Your business deserves a unique growth engine
      </p>
      <div class="hero__flex">
        <div class="hero__left-item">
          <p class="hero__left-item-text">
            We craft bold websites for startups that pitch your product, win
            investor trust, and drive real growth.
          </p>
          <button class="hero__left-item-btn btn">
            <p>See how it works</p>
            <svg
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1 1L13 13"
                stroke="#49B97A"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M13 1V13H1"
                stroke="#49B97A"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>
        <div class="hero__right-item">
          <div class="hero__box-wrapper">
            <div class="hero__box">
              <p class="hero__box-title">$3B+</p>
              <p class="hero__box-subtitle">
                in total funding among our clients.
              </p>
            </div>
            <div class="hero__box hero__box--width">
              <p class="hero__box-title">50+</p>
              <p class="hero__box-subtitle">startups trust us</p>
            </div>
          </div>
        </div>
      </div>
      <div class="hero__logos-wrapper">
        <div class="hero__logos-blur-mask"></div>
        <div class="hero__logos">
          <div class="hero__logos-trak">
            <img
              src="assets/images/hero/logo-01.png"
              alt="logo"
              class="hero__logo"
            />
            <img
              src="assets/images/hero/logo-02.png"
              alt="logo"
              class="hero__logo"
            />
            <img
              src="assets/images/hero/logo-03.png"
              alt="logo"
              class="hero__logo"
            />
            <img
              src="assets/images/hero/logo-04.png"
              alt="logo"
              class="hero__logo"
            />
            <img
              src="assets/images/hero/logo-05.png"
              alt="logo"
              class="hero__logo"
            />
            <img
              src="assets/images/hero/logo-06.png"
              alt="logo"
              class="hero__logo"
            />
            <img
              src="assets/images/hero/logo-07.png"
              alt="logo"
              class="hero__logo"
            />
            <img
              src="assets/images/hero/logo-08.png"
              alt="logo"
              class="hero__logo"
            />
            <img
              src="assets/images/hero/logo-09.png"
              alt="logo"
              class="hero__logo"
            />
            <img
              src="assets/images/hero/logo-10.png"
              alt="logo"
              class="hero__logo"
            />
          </div>
          <div class="hero__logos-trak">
            <img
              src="assets/images/hero/logo-01.png"
              alt="logo"
              class="hero__logo"
            />
            <img
              src="assets/images/hero/logo-02.png"
              alt="logo"
              class="hero__logo"
            />
            <img
              src="assets/images/hero/logo-03.png"
              alt="logo"
              class="hero__logo"
            />
            <img
              src="assets/images/hero/logo-04.png"
              alt="logo"
              class="hero__logo"
            />
            <img
              src="assets/images/hero/logo-05.png"
              alt="logo"
              class="hero__logo"
            />
            <img
              src="assets/images/hero/logo-06.png"
              alt="logo"
              class="hero__logo"
            />
            <img
              src="assets/images/hero/logo-07.png"
              alt="logo"
              class="hero__logo"
            />
            <img
              src="assets/images/hero/logo-08.png"
              alt="logo"
              class="hero__logo"
            />
            <img
              src="assets/images/hero/logo-09.png"
              alt="logo"
              class="hero__logo"
            />
            <img
              src="assets/images/hero/logo-10.png"
              alt="logo"
              class="hero__logo"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
