<div class="mvp section">
  <div class="container">
    <div class="mvp__wrapper">
      <p class="mvp__title section__title--white">
        If your site looks like an MVP you’re burning cash
      </p>
      <p class="mvp__subtitle section__subtitle-white">
        Startups lose deals because their site looks like it was made on a
        hangover. Investors judge you in 5 seconds. Clients bounce even faster.
      </p>
      <div class="mvp-body">
        <p class="mvp-body__title">How we fix it:</p>
        <div class="mvp-body__flex">
          <div class="mvp-card">
            <img
              src="assets/images/mvp/img-1.svg"
              alt="img"
              class="mvp-card__img"
            />
            <p class="mvp-card__title">Websites that sell</p>
            <p class="mvp-card__text">
              We build conversion-focused sites that close demos and boost MRR.
            </p>
          </div>
          <div class="mvp-card">
            <img
              src="assets/images/mvp/img-2.svg"
              alt="img"
              class="mvp-card__img"
            />
            <p class="mvp-card__title">Pitch-ready design</p>
            <p class="mvp-card__text">
              Your product, explained visually and verbally for investor decks
            </p>
          </div>
          <div class="mvp-card">
            <img
              src="assets/images/mvp/img-3.svg"
              alt="img"
              class="mvp-card__img"
            />
            <p class="mvp-card__title">Built to scale</p>
            <p class="mvp-card__text">
              No templates. Just solid architecture, smart UX, and real research
              and tests.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
