<div class="plan section">
  <div class="container">
    <div class="plan__wrapper">
      <div class="plan__box">
        <div class="plan__decor">
          <img
            src="assets/images/plan/decore-left.svg"
            class="plan__decor--left"
            alt=""
          />
          <img
            src="assets/images/plan/decore-right.svg"
            class="plan__decor--right"
            alt=""
          />
        </div>
        <h2 class="plan__title">Not sure which plan fits?</h2>
        <p class="plan__subtitle section__subtitle-white">
          Fill out a simple form and get a cost calculation.
        </p>
        <button class="plan__btn btn">
          <p>Fill out a brief</p>
          <svg
            width="19"
            height="18"
            viewBox="0 0 19 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.93103 9H17.9016"
              stroke="#49B97A"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M9.41631 0.514718L17.9016 9L9.41631 17.4853"
              stroke="#49B97A"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
