<div class="pricing section">
  <div class="container">
    <div class="pricing__wrapper">
      <h2 class="pricing__titl section__title--white">
        Pricing that fits your growth stage
      </h2>
      <div class="pricing__body">
        <div class="pricing-item">
          <div class="pricing-item__header">
            <div class="pricing-item__header-text-box">
              <p class="pricing-item__header-title">Launch</p>
              <p class="pricing-item__header-text">
                For testing ideas, and launching fast to market.
              </p>
            </div>
            <img
              src="assets/images/pricing/icon-3.png"
              alt="img"
              class="pricing-item__header-img"
            />
          </div>
          <ul class="pricing-item__body">
            <li class="pricing-item__body-item">
              Marketing research (audience, competitors)
            </li>
            <li class="pricing-item__body-item">UX Landing page</li>
            <li class="pricing-item__body-item">
              Custom visual design & content
            </li>
            <li class="pricing-item__body-item">
              Light Integrations & responsive layout
            </li>
            <li class="pricing-item__body-item">
              Wordpress development & analytics setup
            </li>
          </ul>
          <div class="pricing-item__footer">
            <p class="pricing-item__footer-title">from ₪ 15 000</p>
            <p class="pricing-item__footer-subtitle">1-3 weeks</p>
            <button class="pricing-item__footer-button btn">
              <p>Choose tariff</p>
              <svg
                width="14"
                height="14"
                viewBox="0 0 14 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.997437 13L12.9974 0.999999"
                  stroke="#49B97A"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M0.997436 1L12.9974 0.999999L12.9974 13"
                  stroke="#49B97A"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
        </div>
        <div class="pricing-item">
          <div class="pricing-item__header">
            <div class="pricing-item__header-text-box">
              <p class="pricing-item__header-title">GROWTH</p>
              <p class="pricing-item__header-text">
                For startups with active growth and sales
              </p>
            </div>
            <img
              src="assets/images/pricing/icon-1.png"
              alt="img"
              class="pricing-item__header-img"
            />
          </div>
          <ul class="pricing-item__body">
            <li class="pricing-item__body-item">
              Marketing research (audience, competitors)
            </li>
            <li class="pricing-item__body-item">
              UX architecture and copywriting
            </li>
            <li class="pricing-item__body-item">
              Custom visual design & content
            </li>
            <li class="pricing-item__body-item">Prototyping & user testing</li>
            <li class="pricing-item__body-item">
              Integrations & responsive layout
            </li>
            <li class="pricing-item__body-item">
              Wordpress development & analytics setup
            </li>
            <li class="pricing-item__body-item">1-month post-launch support</li>
          </ul>
          <div class="pricing-item__footer">
            <p class="pricing-item__footer-title">₪ 30–45 000</p>
            <p class="pricing-item__footer-subtitle">4-6 weeks</p>
            <button class="pricing-item__footer-button btn">
              <p>Choose tariff</p>
              <svg
                width="14"
                height="14"
                viewBox="0 0 14 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.997437 13L12.9974 0.999999"
                  stroke="#49B97A"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M0.997436 1L12.9974 0.999999L12.9974 13"
                  stroke="#49B97A"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
        </div>
        <div class="pricing-item pricing-item--green">
          <div class="pricing-item__header">
            <div class="pricing-item__header-text-box">
              <p class="pricing-item__header-title">SCALE</p>
              <p class="pricing-item__header-text">
                For scaling and more complex requirements
              </p>
            </div>
            <img
              src="assets/images/pricing/icon-2.png"
              alt="img"
              class="pricing-item__header-img"
            />
          </div>
          <ul class="pricing-item__body">
            <li class="pricing-item__body-item--title">
              Everything from Growth
            </li>
            <li class="pricing-item__body-item">Extended UX research</li>
            <li class="pricing-item__body-item">
              Advanced site architecture for large projects
            </li>
            <li class="pricing-item__body-item">
              Custom animations, interactions, 3d
            </li>
            <li class="pricing-item__body-item">
              CRM, API, and form integrations
            </li>
            <li class="pricing-item__body-item">
              Enhanced SEO and performance optimization
            </li>
            <li class="pricing-item__body-item">1-month post-launch support</li>
          </ul>
          <div class="pricing-item__footer">
            <p class="pricing-item__footer-title">₪ 45–60 000</p>
            <p class="pricing-item__footer-subtitle">6-8 weeks</p>
            <button class="pricing-item__footer-button btn">
              <p>Choose tariff</p>
              <svg
                width="14"
                height="14"
                viewBox="0 0 14 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.997437 13L12.9974 0.999999"
                  stroke="#49B97A"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M0.997436 1L12.9974 0.999999L12.9974 13"
                  stroke="#49B97A"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <p class="pricing__subtitle">
        { Final pricing depends on project scope and complexity. }
      </p>
    </div>
  </div>
</div>
