<div class="why-work section">
  <img
    src="assets/images/whyWorks/decore-mobill-top-left1.png"
    alt=""
    class="why-work__mobil-bg-left"
  />
  <img
    src="assets/images/whyWorks/decore-mobill-top-left.png"
    alt=""
    class="why-work__mobil-bg-right"
  />
  <img
    src="assets/images/whyWorks/decore-mobill-bottom.png"
    alt=""
    class="why-work__mobil-bg-center"
  />
  <div class="container">
    <div class="why-work__wrapper">
      <p class="why-work__title section__title--black">Why it works</p>
      <div class="why-work__body">
        <div class="why-work-item why-work-item__1">
          <div class="why-work-item__num">{ 1 }</div>
          <div class="why-work-item__text-box">
            <p class="why-work-item__title">Deep dive into your product</p>
            <p class="why-work-item__text">
              We study your tech, market, and story. Like co-founders, not
              vendors.
            </p>
          </div>
        </div>
        <div class="why-work-item why-work-item__2">
          <div class="why-work-item__num">{ 2 }</div>
          <div class="why-work-item__text-box">
            <p class="why-work-item__title">Conversion-first copy</p>
            <p class="why-work-item__text">
              We write like you’re raising $10M, not telling bedtime stories.
            </p>
          </div>
        </div>
        <div class="why-work-item why-work-item__3">
          <div class="why-work-item__num">{ 3 }</div>
          <div class="why-work-item__text-box">
            <p class="why-work-item__title">Design with purpose</p>
            <p class="why-work-item__text">
              Visuals that impress VCs and convert traffic. User testing
            </p>
          </div>
        </div>
        <div class="why-work-item why-work-item__4">
          <div class="why-work-item__num">{ 4 }</div>
          <div class="why-work-item__text-box">
            <p class="why-work-item__title">Flawless dev</p>
            <p class="why-work-item__text">
              Clean code, responsive layout, tested to death.
            </p>
          </div>
        </div>
        <div class="why-work-item why-work-item__5">
          <div class="why-work-item__num">{ 5 }</div>
          <div class="why-work-item__text-box">
            <p class="why-work-item__title">Post-launch care</p>
            <p class="why-work-item__text">
              You get a site, not a headache. We teach your team, stay on call.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
