// colors
$color-white: #fff;
$color-green: #49b97a;

//fonts
$font-lato: "Lato", sans-serif;
$font-work: "Work Sans", sans-serif;

// ==============================================
// Breakpoints
// ==============================================

$breakpoint-xs: 414px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;

// ==============================================
// border-radius
// ==============================================
$border-r-s: 5px;
$border-r-m: 10px;
