/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background: #1d1d1d;
  color: #fff;
}

main {
  flex: 1;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 30px;
}

.section {
  margin-bottom: 160px;
}
.section__title--white {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 110%; /* 52.8px */
}
.section__title--white span {
  color: #5d5d5d;
  font-size: 48px;
  font-weight: 700;
  line-height: 110%;
}
.section__title--black {
  color: #2a2a2a;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 110%; /* 52.8px */
}
.section__subtitle-white {
  color: #aeaeae;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  line-height: 122%; /* 24.4px */
}
.section__subtitle--black {
  color: #434343;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  line-height: 130%; /* 26px */
}

.btn {
  border-radius: 5px;
  border: 1px solid #49b97a;
  padding: 17px;
  color: #49b97a;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 122%; /* 19.52px */
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  white-space: nowrap;
}

.btn-white {
  border-radius: 5px;
  padding: 7px 17px;
  font-family: "Lato", sans-serif;
  line-height: 122%; /* 19.52px */
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #fff;
  color: #fff;
  font-size: 24px;
  white-space: nowrap;
}